- name: Install Nginx
  ansible.builtin.yum:
    name: nginx
    state: installed

- name: Download Frontend Content
  ansible.builtin.include_role:
    name: common
    tasks_from: download

- name: Cleanup Old Nginx Content
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: absent

- name: Copy Frontend Content to Nginx Path
  ansible.builtin.copy:
    src: /tmp/frontend-main/static/
    dest: /usr/share/nginx/html
    remote_src: yes

- name: Copy Roboshop Configuration
  ansible.builtin.copy:
    src: localhost.conf
    dest: /etc/nginx/default.d/roboshop.conf

- name: Start Nginx
  ansible.builtin.systemd:
    name: nginx
    state: started
    enabled: yes