- name: Add Application User
  ansible.builtin.user:
    name: roboshop
    comment: RoboShop Project Application User
  register: APP_USER_REGISTER

- name: Cleanup Old Content
  ansible.builtin.file:
    path: "{{APP_LOCATION}}"
    state: absent

########## Download from GitHub
# In standard processes, software is downloaded from a release rather than the source code (in this case, a github rep)
# As such, the steps to download content from github are commented out below

#- name: Download and Extract {{COMPONENT}}
#  ansible.builtin.unarchive:
#    src: https://github.com/roboshop-devops-project/{{COMPONENT}}/archive/main.zip
#    dest: /tmp
#    remote_src: yes

#- name: Copy App Content
#  become_user: "{{APP_USER}}"
#  ansible.builtin.copy:
#    dest: "{{APP_LOCATION}}"
#    src: /tmp/{{COMPONENT}}-main/
#    remote_src: yes

########## Download from Nexus
- name: Create App Location
  ansible.builtin.file:
    path: "{{APP_LOCATION}}"
    state: directory

- name: Download and Extract {{COMPONENT}}
  ansible.builtin.unarchive:
    src: "http://nexus.roboshop.internal:8081/repository/{{COMPONENT}}/{{COMPONENT}}-{{APP_VERSION}}.zip
    dest: "{{APP_LOCATION}}"
    remote_src: yes